In [1]:
a=10
b=20
c=a+b

In [2]:
type(c)

int

In [3]:
type('shreyas')

str

In [4]:
##Boolean operation
True or True

True

In [5]:
True | False

True

In [7]:
a=10
b=20
a+b>30 or a-b<10

True

In [8]:
### Strings
type('Shreyas')

str

In [9]:
str1='Shreyas is good boy'

In [10]:
str1

'Shreyas is good boy'

In [11]:
print(str1)

Shreyas is good boy

In [22]:
## Strong Typing
1+int("2")

3

In [25]:
#### Conditional Statements
## if and elif
a=int(input("Enter the number1? "))
b=int(input("Enter the number2? "))
c=a-b
print("The output is",c)
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

Enter the number1? 100
Enter the number2? 50
The output is 50
The difference is huge

In [ ]:
### Data Structures
1. List
2. Tuple
3. String
4. Dictionary
5. Sets

In [27]:
lst=[1,2,3,"Shreyas","KP"]
type(lst)

list

In [12]:
str1="A good boy"
str2="A bad boy"

In [13]:
str1+" "+str2

'A good boy A bad boy'

In [14]:
name=input("Enter your name?")

Enter your name?Shreyas

In [15]:
print(name)

Shreyas

In [17]:
### Add 2 numbers
a=float(input("Enter number 1?"))
b=float(input("Enter number 2?"))
c=a+b
print("The output is ",c)

Enter number 1?21.5
Enter number 2?22.4
The output is  43.9

In [18]:
### Add 2 numbers
a=float(input("Enter number 1?"))
b=float(input("Enter number 2?"))
c=a+b
print("The output is ",c)

Enter number 1?33
Enter number 2?34
The output is  67.0

In [20]:
### String formatting
first_name=input("What is your first name?")
last_name=input("What is your last name?")
print("My first name is {one} and last name is {two}".format(two=last_name,one=first_name))

What is your first name?Shreyas
What is your last name?KP
My first name is Shreyas and last name is KP

In [28]:
## List
lst.append("Ineuron")
lst

[1, 2, 3, 'Shreyas', 'KP', 'Ineuron']

In [29]:
lst[2]="Data Science"
print(lst[2])

Data Science

In [30]:
lst.append("Ineuron")
lst.count("Ineuron")

2

In [32]:
# Indexing
## immutable
str1="Shreyas"
str1="KP"
str1

'KP'

In [33]:
## Complex Numbers - j used for imaginary
j = 1.0 - 2.0j
j

(1-2j)

In [34]:
print(j.real,j.imag)

1.0 -2.0

In [35]:
not True

False

In [36]:
not False

True

In [37]:
True is True

True

In [38]:
True is False

False

In [39]:
str1="Shreyas"
len(str1)

7

In [42]:
str1="Shreyas"
print(len(str1))
print(len(lst))

7
7

In [43]:
## for loop
lst=[9,8,3,4,5,2]
sum1=0
for i in lst:
    sum1=sum1+i
print(sum1)

31

In [44]:
%%time
lst=[1,3,4,6,7,8,9,2,3,4,5]
evensum=0
oddsum=0
for i in lst:
    if i%2==0:
        evensum=evensum+i
    else:
        oddsum=oddsum+i
print("The odd sum is ",oddsum)
print("The even sum is ",evensum)

The odd sum is  28
The even sum is  24
Wall time: 0 ns

In [1]:
## While loop
## sum of n elements
n=10
i=1
evensum=0
oddsum=0
while i<=n:
    if i%2==0:
        evensum=evensum+i
        i=i+1
    else:
        oddsum=oddsum+i
        i=i+1
    
    
print("Even sum is ",evensum)
print("Odd sum is ",oddsum)

Even sum is  30
Odd sum is  25

In [2]:
sum(range(1,100,2))

2500

In [3]:
list(range(0,100,1))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [26]:
## Continue statement with for else
for val in "string":
    if val == "i":
        continue
    print("Current letter",val)
else:
    print("The End")

Current letter s
Current letter t
Current letter r
Current letter n
Current letter g
The End

In [6]:
## String continue - String indexing
s="Hello World"
s[:]

'Hello World'

In [7]:
s[1:]

'ello World'

In [8]:
s[1:7]

'ello W'

In [9]:
s[:-1]

'Hello Worl'

In [10]:
s[:-2]

'Hello Wor'

In [11]:
s.upper()

'HELLO WORLD'

In [12]:
s.lower()

'hello world'

In [13]:
s.split()

['Hello', 'World']

In [15]:
str1="Hello,World Shreyas"
str1.split(sep=',')

['Hello', 'World Shreyas']

In [16]:
str1.count('o')

2

In [17]:
str1.find('r')

8

In [19]:
s1="Shreyas K P"
s1.center(24,'o')

'ooooooShreyas K Pooooooo'

In [22]:
'hello\tWorld'.expandtabs()

'hello   World'

In [21]:
s1.isalpha()

False

In [23]:
s1.islower()

False

In [24]:
s1.isspace()

False

In [25]:
s="Shreyas"
s.split('h')

['S', 'reyas']

In [1]:
### List Comprehension
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

In [2]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [3]:
### Sum of even numbers inside a collection
lst=[1,2,3,4,5,6,7,8,9,10]
[i for i in lst if i%2==0]

[2, 4, 6, 8, 10]

In [4]:
### Sum of even numbers inside a collection
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=sum([i for i in lst if i%2==0])

In [5]:
lst1

30

In [6]:
### Tuple
type(tuple([1,2,3,4,5,"Shreyas"]))

tuple

In [7]:
tuple([1,2,3,4,5,"Shreyas"])

(1, 2, 3, 4, 5, 'Shreyas')

In [8]:
t=tuple([1,2,3,4,5,"Shreyas"])
t[:-1]

(1, 2, 3, 4, 5)

In [9]:
t=(1,2,3,1,2,3,4,5,1,2)
t.index(1)

0

In [10]:
t.count(1)

3

In [11]:
len(t)

10

In [12]:
### Sets
set([1,2,3,4,5,6])

{1, 2, 3, 4, 5, 6}

In [14]:
{1,2,3,4,5,6,7,1,2,3}

{1, 2, 3, 4, 5, 6, 7}

In [15]:
type({})

dict

In [16]:
type({1})

set

In [17]:
x1={1,2,3,4,5}
x2={2,3,4,5,6,7}
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [18]:
x1.intersection(x2)

{2, 3, 4, 5}

In [19]:
x1.intersection_update(x2)

In [20]:
x1

{2, 3, 4, 5}

In [22]:
x1.difference_update(x2)

In [23]:
x1

set()

In [24]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
x1.issubset(x2)

True

In [25]:
x1={3,4,5,9}
x2={1,2,3,4,5,6,7}
x1.issubset(x2)

False

In [26]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
x2.issuperset(x1)

True

In [27]:
x1={3,4,5,9}
x2={1,2,3,4,5,6,7}
x2.issuperset(x1)

False

In [28]:
x1.add(1)

In [29]:
x1

{1, 3, 4, 5, 9}

In [31]:
### Dictionary
var={1:'Shreyas',2:"Python",3:24}
type(var)

dict

In [32]:
var.items()

dict_items([(1, 'Shreyas'), (2, 'Python'), (3, 24)])

In [33]:
var.keys()

dict_keys([1, 2, 3])

In [34]:
var.values()

dict_values(['Shreyas', 'Python', 24])

In [35]:
var[1]

'Shreyas'

In [39]:
### Function
def greeting():
    print("Hello, Welcome to Ineuron!")

In [37]:
greeting()

Hello, Welcome to Ineuron

In [38]:
greeting()

Hello, Welcome to Ineuron

In [40]:
greeting()

Hello, Welcome to Ineuron!

In [45]:
### Sum of all even numbers
def evenodd_sum(lst):
    evensum=0
    oddsum=0
    for i in lst:
        if i%2==0:
            evensum=evensum+i
        else:
            oddsum=oddsum+i
    print(evensum)
    print(oddsum)
    return evensum,oddsum

In [46]:
evenodd_sum([1,2,3,4,5,6])

12
9

(12, 9)

In [1]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [2]:
### Iterator
### Lazy Evaluation
a=iter([1,2,3,4,5,6])
a

In [4]:
next(a)
### next() gives the iteration of elements and when it reaches the last element it gives an error.

2

In [5]:
### This is loaded at runtime and it starts with 3 because already we have done till 2.
for i in a:
    print(i)

3
4
5
6

In [6]:
def getcubes(n):
    listOfSquare=[]
    for i in range(0,5):
        listOfSquare.append(i**3)
    return listOfSquare

In [7]:
getcubes(5)

[0, 1, 8, 27, 64]

In [13]:
# Generator function for the cube of numbers (power of 3)
def gencubes(n):
    for num in range(n):
        yield num**3

In [14]:
output=gencubes(5)
output

In [15]:
## For printing we can use next() or using for loop
for i in output:
    print(i)

0
1
8
27
64

In [16]:
### Generate a fibonacci series upto n
def genfib(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [17]:
for num in genfib(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [1]:
## Map example
def square_num(x):
    return x*x

In [3]:
a=map(square_num,[1,2,3,4,5,6,7])
list(a)

[1, 4, 9, 16, 25, 36, 49]

In [4]:
def farenheit(T):
    return ((float(9)/5)*T+32)

def celsius(T):
    return (float(5)/9)*(T-32)

def summ(x,y):
    return x+y

In [5]:
temp=[0,22.5,40,100]
list(map(farenheit,temp))

[32.0, 72.5, 104.0, 212.0]

In [8]:
list(map(lambda x:(float(5)/9)*(x-32),[1,2,3,4,5,6]))

[-17.22222222222222,
 -16.666666666666668,
 -16.11111111111111,
 -15.555555555555557,
 -15.0,
 -14.444444444444445]

In [9]:
list(map(lambda x:x*x,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [10]:
a=lambda x,y:(x+y,x-y)

In [11]:
a(6,7)

(13, -1)

In [13]:
max_find=lambda a,b: a if (a>b) else b
max_find(10,12)

12

In [17]:
a=lambda x,y:x+y
a(2,3)

5

In [14]:
## Find max of a sequence
max_find=lambda a,b: a if (a>b) else b
lst=[47,11,42,13]

In [15]:
reduce(max_find,lst)

47

In [18]:
reduce(a,lst)

113

In [20]:
##Function which return sum of 2 numbers
def sum1(a,b):
    return a+b

lst1=[2,4,6,8]
lst2=[1,3,5,7,9]

result=list(map(lambda x,y:x+y,lst1,lst2))
print (result)

[3, 7, 11, 15]

In [21]:
list(map(lambda x,y:9/5*x+32,[1,2,3,4],[1,2,3,4]))

[33.8, 35.6, 37.4, 39.2]

In [22]:
## Filter
def even_check(num):
    if num%2==0:
        return True

In [23]:
lst=[1,2,3,4,5,6,7,8]
list(filter(even_check,lst))

[2, 4, 6, 8]

In [24]:
list(filter(lambda x:x%2==0,lst))

[2, 4, 6, 8]

In [25]:
list(map(lambda x:x%2==0,lst))

[False, True, False, True, False, True, False, True]